$default-font: "RobotoRegular", sans-serif;
$accent: #00E676;
$grey:#363E47;
$dark-grey: #2A313A;
$grey-text: #303841;



// // chat text
// font-size: 13px;
// color: $grey-text;
// line-height: 1.4;
// opacity: 0.45;

// // search placeholder
// font-size: 13px;
// color: #FFFFFF;
// opacity: 0.6;

// // user name left
// font-size: 15px;
// font-weight: 500;
// color: #FFFFFF;

// //user text preview
// font-size: 13px;
// color: #FFFFFF;
// opacity: 0.5;

// //user time ago/chat
// font-size: 11px;
// color: #FFFFFF;
// opacity: 0.5;

// //user name in top line/chat
// font-weight: 500;
// font-size: 15px;
// color: $grey-text;

// //user time in chat
// font-size: 11px;
// color: rgba(48, 56, 65, 0.45);

// // last seen 1h ago
// font-size: 13px;
// color: $grey-text;
// opacity: 0.45;

// // text on green button
// font-weight: 500;
// font-size: 13px;
// color: #FFFFFF;

// // Chatty 
// font-family: Poppins;
// font-weight: bold;

// // Other font
// font-family: Roboto;